@using Coditech.Admin.Utilities;
@model Dictionary<string, string>
@{
    Layout = null;
    long gymWorkoutPlanId = Convert.ToInt32(Model?.FirstOrDefault(x => x.Key == "GymWorkoutPlanId").Value);
    //long personId = Convert.ToInt64(Model?.FirstOrDefault(x => x.Key == "PersonId").Value);
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}
<div class="card sidebar-card">
    <div class="card-body">
        <div class="files-nav">
            <div class="nav flex-column nav-pills" id="files-tab" aria-orientation="vertical">
                <a class="nav-link" href="@Url.Action("UpdateGymWorkoutPlanDetails", "GymWorkoutPlan", new { gymWorkoutPlanId = @gymWorkoutPlanId })" aria-selected="true">
                    <i class="ti-menu"></i><h5 class="m-0 ps-2">Workout Plan</h5>
                </a>
                <a class="nav-link" href="@Url.Action("GetWorkoutPlanDetails", "GymWorkoutPlan", new { gymWorkoutPlanId = @gymWorkoutPlanId })" aria-selected="true">
                    <i class="fas fa-info-circle"></i><h5 class="m-0 ps-2">Workout Plan Details</h5>
                </a>
                <a class="nav-link" href="@Url.Action("GetAssociatedMemberList", "GymWorkoutPlan", new { SelectedParameter1 = @gymWorkoutPlanId })" aria-selected="true">
                    <i class="fas fa-id-card-alt"></i><h5 class="m-0 ps-2">Associate Member</h5>
                </a>
            </div>
        </div>
    </div>
</div>  